body {
  background-color: #f5f5f5;
  height: 100vh;
  font-family:'Courier New', Courier, monospace;
  background: url('./images/kris-n9u9ZEoH2yM-unsplash.jpg'), url('./images/kris-n9u9ZEoH2yM-unsplash_small.jpg');
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.container {
  background-color: white;
  border: 1px solid lightgrey;
  position: relative;
  top: 10vh;
  border-radius: 30px;
}

h1 {
  text-align: center;
}

header, 
section,
footer {
  margin: 15px;
}


/* --------- Todo list --------------- */

#new-todo {
  border-radius: 30px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-right: 4px;
}

#add-todo-button {
  border-radius: 50%;
  padding: 6px 9px;
  background-color: #4f82d9;
  border: 1px solid #2251a0;
}

.todo-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.show-todo-item {
  margin-left: 0px;
  margin-right: 0px;
}

.show-todo-item.editing {
  display: none;
}

.edit-todo-item {
  display: none;
}

.edit-todo-item.editing {
  display: block;
}

.show-todo-item label {
  background-color: #b9d94f;
  border: 1px solid #83a022;
  color: white;
  border-radius: 30px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-right: 4px;
}

.destroy {
  padding: 6px 9px;
  border-radius: 50%;
}

/* -------- Checkbox ---------- */

input[type="checkbox"] {
  margin-top: 11px;
}

/* ---------- Footer -------------- */

#footer {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
}

#footer a {
  color: black;
  text-decoration: none;
}

#todo-count {
  float: left;
}

#footer.hide-footer {
  display: none;
}


#filters {
  position: absolute;
  left: 0;
  right: 0;
}

#filters a.selected {
  border: 1px solid grey;
  padding: 3px;
  border-radius: 3px;
}


/* --------- Loading animation ------------- */

#loader {
  width: 100px;
  height: 100px;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  margin: auto;
  border-top: 20px solid #d9534f;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}