body {
  background-color: #f5f5f5;
  height: 100vh;
  font-family:'Courier New', Courier, monospace;
  background: url('./images/kris-n9u9ZEoH2yM-unsplash.jpg'), url('./images/kris-n9u9ZEoH2yM-unsplash_small.jpg');
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.container {
  background-color: white;
  border: 1px solid lightgrey;
  position: relative;
  top: 10vh;
  border-radius: 30px;
}

h1 {
  text-align: center;
}

header, 
section,
footer {
  margin: 15px;
}


/* --------- Todo list --------------- */

#new-todo {
  border-radius: 30px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-right: 4px;
}

#add-todo-button {
  border-radius: 50%;
  padding: 6px 9px;
  background-color: #4f82d9;
  border: 1px solid #2251a0;
}

.todo-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.show-todo-item {
  margin-left: 0px;
  margin-right: 0px;
}

.show-todo-item.editing {
  display: none;
}

.edit-todo-item {
  display: none;
}

.edit-todo-item.editing {
  display: block;
}

.show-todo-item label {
  background-color: #b9d94f;
  border: 1px solid #83a022;
  color: white;
  border-radius: 30px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-right: 4px;
}

.destroy {
  padding: 6px 9px;
  border-radius: 50%;
}

/* -------- Checkbox ---------- */

input[type="checkbox"] {
  margin-top: 11px;
}

/* Hide the browser's default checkboxes */
/* 
input[type="checkbox"] {
  display: none;
}

.show-todo-item {
  position: relative;
  left: 35px;
}

.glyphicon-unchecked {
  position: absolute;
  left: -20px;
  top: 10px;
} */


/* input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
}

label::before {
  position: absolute;
  content: '';
  background: url('./images/c047bb128ecf9705542a562f812136be.svg');
  background-position: center;
  background-size: contain;
  width: 34px;
  height: 34px;
  left: -40px;
  top: 0px;
  transform: scale(0);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked + label::before {
  transform: scale(1);
}

label::after {
  content: '';
  border: 2px solid red;
  width: 34px;
  height: 34px;
  position: absolute;
  left: -40px;
  top: 0px;
  border-radius: 50%;
} */
/* input[type=checkbox].regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 3px solid #de6d21;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}

input[type=checkbox].regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

input[type=checkbox].regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
} */


/* ---------- Footer -------------- */

#footer {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
}

#footer a {
  color: black;
  text-decoration: none;
}

#todo-count {
  float: left;
}

#footer.hide-footer {
  display: none;
}


#filters {
  position: absolute;
  left: 0;
  right: 0;
}

#filters a.selected {
  border: 1px solid grey;
  padding: 3px;
  border-radius: 3px;
}


/* ========== Loading animation ===== */

#loader {
  width: 100px;
  height: 100px;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  margin: auto;
  border-top: 20px solid #d9534f;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}