body {
  background-color: #f5f5f5;
}

.container {
  background-color: white;
  border: 1px solid lightgrey;
}

h1 {
  text-align: center;
}

header, 
section,
footer {
  margin: 15px;
}


/* --------- Todo list --------------- */

.todo-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.show-todo-item {
  margin-left: 0px;
  margin-right: 0px;
}

.show-todo-item.editing {
  display: none;
}

.edit-todo-item {
  display: none;
}

.edit-todo-item.editing {
  display: block;
}



/* ---------- Footer -------------- */

#footer {
  text-align: center;
  margin-top: 15px;
}

#footer a {
  color: black;
  text-decoration: none;
}

#todo-count {
  float: left;
}

#footer.hide-footer {
  display: none;
}

#filters a.selected {
  border: 1px solid grey;
  padding: 3px;
  border-radius: 3px;
}